*{
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ebebeb;
    padding: 2px 45rem;
}
section#container input[type="text"] {width: 350px;}
section#container-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1800px;
    margin-top: 2px;
}
section#container-box div#left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7de5da;
    padding: 13px 280px;
}
section#container-box div#mid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #70cbc2;
    padding: 4px 147px;
}
section#container-box div#right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 280px;
    background: #62b3aa;
}

footer {margin: 10px 0;}